/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/bank2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;

}
.style{
    opacity: 0;
}