<div class="container w-50 border border-white text-center p-5 mt-5 bg-black">
    <h1>Sign up</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input type="text" name="user1" id="unamid" placeholder="Enter User Name"
                class="form-control">
        </div>
        <div class="p-3 mt-2">
            <input type="accountnume" name="acnum1" id="acid" placeholder=" Enter Account Number"
                class="form-control">
        </div>
        <div class="p-3 mt-2">
            <input  type="password" name="paswrd1" id="psw1" placeholder=" Enter Password"
                class="form-control">
        </div>
        <div>
            <button type="button" (click)="register()"class="btn btn-info">Register</button>
        </div>
        
    </form>
</div>
