


<div class="container w-50 border border-white text-center p-5 mt-5 bg-black">
    <h1 class="text-white ">Sign up</h1>
    <form [formGroup]="registerForm" action="">
        <div class="p-3 mt-2">
            <input formControlName="uname" type="text" name="user1" id="unamid" placeholder="Enter User Name"
                class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
            <p class="text-danger">Invalid username</p>
        </div>
        <div class="p-3 mt-2">
            <input formControlName="acnum"  type="accountnume" name="acnum1" id="acid" placeholder=" Enter Account Number"
                class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('acnum')?.errors && this.registerForm.get('acnum')?.touched">
            <p class="text-danger">Invalid Account</p>
        </div>
        <div class="p-3 mt-2">
            <input formControlName="pwd"  type="password" name="paswrd1" id="psw1" placeholder=" Enter Password"
                class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('pwd')?.errors && this.registerForm.get('pwd')?.touched">
            <p class="text-danger">Invalid Password</p>
        </div>
        <div>
            <button type="button" (click)="register()"class="btn btn-info">Register</button>
        </div>
        
    </form>
</div>
